<!-- 
    This is the HTML for the calendar view.
    It is used to render the calendar view in the browser.
-->

// this is the month view of the calendar
<div class="calendar-container">
  <div class="rbc-calendar" style="height: 100%; min-height: 600px">
    <div class="rbc-toolbar">
      <span class="rbc-btn-group"
        ><button type="button">Today</button
        ><button type="button">Previous</button
        ><button type="button">Next</button></span
      ><span class="rbc-toolbar-label">August 2025</span
      ><span class="rbc-btn-group"
        ><button type="button" class="rbc-active">Month</button
        ><button type="button" class="">Week</button
        ><button type="button" class="">Day</button
        ><button type="button" class="">Agenda</button></span
      >
    </div>
    <div class="rbc-month-view" role="table" aria-label="Month View">
      <div class="rbc-row rbc-month-header" role="row">
        <div class="rbc-header">
          <span role="columnheader" aria-sort="none">Sun</span>
        </div>
        <div class="rbc-header">
          <span role="columnheader" aria-sort="none">Mon</span>
        </div>
        <div class="rbc-header">
          <span role="columnheader" aria-sort="none">Tue</span>
        </div>
        <div class="rbc-header">
          <span role="columnheader" aria-sort="none">Wed</span>
        </div>
        <div class="rbc-header">
          <span role="columnheader" aria-sort="none">Thu</span>
        </div>
        <div class="rbc-header">
          <span role="columnheader" aria-sort="none">Fri</span>
        </div>
        <div class="rbc-header">
          <span role="columnheader" aria-sort="none">Sat</span>
        </div>
      </div>
      <div class="rbc-month-row" role="rowgroup">
        <div class="rbc-row-bg">
          <div class="rbc-day-bg rbc-off-range-bg"></div>
          <div class="rbc-day-bg rbc-off-range-bg"></div>
          <div class="rbc-day-bg rbc-off-range-bg"></div>
          <div class="rbc-day-bg rbc-off-range-bg"></div>
          <div class="rbc-day-bg rbc-off-range-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
        </div>
        <div class="rbc-row-content" role="row">
          <div class="rbc-row">
            <div class="rbc-date-cell rbc-off-range" role="cell">
              <button type="button" class="rbc-button-link">27</button>
            </div>
            <div class="rbc-date-cell rbc-off-range" role="cell">
              <button type="button" class="rbc-button-link">28</button>
            </div>
            <div class="rbc-date-cell rbc-off-range" role="cell">
              <button type="button" class="rbc-button-link">29</button>
            </div>
            <div class="rbc-date-cell rbc-off-range" role="cell">
              <button type="button" class="rbc-button-link">30</button>
            </div>
            <div class="rbc-date-cell rbc-off-range" role="cell">
              <button type="button" class="rbc-button-link">31</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">01</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">02</button>
            </div>
          </div>
        </div>
      </div>
      <div class="rbc-month-row" role="rowgroup">
        <div class="rbc-row-bg">
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
        </div>
        <div class="rbc-row-content" role="row">
          <div class="rbc-row">
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">03</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">04</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">05</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">06</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">07</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">08</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">09</button>
            </div>
          </div>
        </div>
      </div>
      <div class="rbc-month-row" role="rowgroup">
        <div class="rbc-row-bg">
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
        </div>
        <div class="rbc-row-content" role="row">
          <div class="rbc-row">
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">10</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">11</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">12</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">13</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">14</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">15</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">16</button>
            </div>
          </div>
        </div>
      </div>
      <div class="rbc-month-row" role="rowgroup">
        <div class="rbc-row-bg">
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
        </div>
        <div class="rbc-row-content" role="row">
          <div class="rbc-row">
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">17</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">18</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">19</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">20</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">21</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">22</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">23</button>
            </div>
          </div>
        </div>
      </div>
      <div class="rbc-month-row" role="rowgroup">
        <div class="rbc-row-bg">
          <div class="rbc-day-bg rbc-today"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg"></div>
        </div>
        <div class="rbc-row-content" role="row">
          <div class="rbc-row">
            <div class="rbc-date-cell rbc-now rbc-current" role="cell">
              <button type="button" class="rbc-button-link">24</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">25</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">26</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">27</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">28</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">29</button>
            </div>
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">30</button>
            </div>
          </div>
          <div class="rbc-row">
            <div
              class="rbc-row-segment"
              style="flex-basis: 14.2857%; max-width: 14.2857%"
            ></div>
            <div
              class="rbc-row-segment"
              style="flex-basis: 71.4286%; max-width: 71.4286%"
            >
              <div
                class="rbc-event rbc-event-allday"
                style="
                  background: linear-gradient(
                    135deg,
                    rgb(37, 99, 235),
                    rgb(59, 130, 246)
                  );
                  border-left: 3px solid rgba(255, 255, 255, 0.3);
                  border-radius: 6px;
                  color: white;
                  font-size: 12px;
                  font-weight: 500;
                  padding: 4px 8px;
                  margin: 2px 0px;
                  text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
                  box-shadow: rgba(37, 99, 235, 0.2) 0px 1px 3px;
                  transition: 0.2s;
                "
              >
                <div
                  class="rbc-event-content"
                  title="aschente Abhishek - 310S Mechanic"
                >
                  aschente Abhishek - 310S Mechanic
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rbc-month-row" role="rowgroup">
        <div class="rbc-row-bg">
          <div class="rbc-day-bg"></div>
          <div class="rbc-day-bg rbc-off-range-bg"></div>
          <div class="rbc-day-bg rbc-off-range-bg"></div>
          <div class="rbc-day-bg rbc-off-range-bg"></div>
          <div class="rbc-day-bg rbc-off-range-bg"></div>
          <div class="rbc-day-bg rbc-off-range-bg"></div>
          <div class="rbc-day-bg rbc-off-range-bg"></div>
        </div>
        <div class="rbc-row-content" role="row">
          <div class="rbc-row">
            <div class="rbc-date-cell" role="cell">
              <button type="button" class="rbc-button-link">31</button>
            </div>
            <div class="rbc-date-cell rbc-off-range" role="cell">
              <button type="button" class="rbc-button-link">01</button>
            </div>
            <div class="rbc-date-cell rbc-off-range" role="cell">
              <button type="button" class="rbc-button-link">02</button>
            </div>
            <div class="rbc-date-cell rbc-off-range" role="cell">
              <button type="button" class="rbc-button-link">03</button>
            </div>
            <div class="rbc-date-cell rbc-off-range" role="cell">
              <button type="button" class="rbc-button-link">04</button>
            </div>
            <div class="rbc-date-cell rbc-off-range" role="cell">
              <button type="button" class="rbc-button-link">05</button>
            </div>
            <div class="rbc-date-cell rbc-off-range" role="cell">
              <button type="button" class="rbc-button-link">06</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

// this is the week view of the calender
<div class="calendar-container">
  <div class="rbc-calendar" style="height: 100%; min-height: 600px">
    <div class="rbc-toolbar">
      <span class="rbc-btn-group"
        ><button type="button">Today</button
        ><button type="button">Previous</button
        ><button type="button">Next</button></span
      ><span class="rbc-toolbar-label">August 24 – 30</span
      ><span class="rbc-btn-group"
        ><button type="button" class="">Month</button
        ><button type="button" class="rbc-active">Week</button
        ><button type="button" class="">Day</button
        ><button type="button" class="">Agenda</button></span
      >
    </div>
    <div class="rbc-time-view">
      <div class="rbc-time-header rbc-overflowing" style="margin-right: 14px">
        <div
          class="rbc-label rbc-time-header-gutter"
          style="width: 80.9px; min-width: 80.9px; max-width: 80.9px"
        ></div>
        <div class="rbc-time-header-content">
          <div class="rbc-row rbc-time-header-cell">
            <div class="rbc-header selected-date rbc-today">
              <button type="button" class="rbc-button-link">
                <span role="columnheader" aria-sort="none">24 Sun</span>
              </button>
            </div>
            <div class="rbc-header">
              <button type="button" class="rbc-button-link">
                <span role="columnheader" aria-sort="none">25 Mon</span>
              </button>
            </div>
            <div class="rbc-header">
              <button type="button" class="rbc-button-link">
                <span role="columnheader" aria-sort="none">26 Tue</span>
              </button>
            </div>
            <div class="rbc-header">
              <button type="button" class="rbc-button-link">
                <span role="columnheader" aria-sort="none">27 Wed</span>
              </button>
            </div>
            <div class="rbc-header">
              <button type="button" class="rbc-button-link">
                <span role="columnheader" aria-sort="none">28 Thu</span>
              </button>
            </div>
            <div class="rbc-header">
              <button type="button" class="rbc-button-link">
                <span role="columnheader" aria-sort="none">29 Fri</span>
              </button>
            </div>
            <div class="rbc-header">
              <button type="button" class="rbc-button-link">
                <span role="columnheader" aria-sort="none">30 Sat</span>
              </button>
            </div>
          </div>
          <div class="rbc-allday-cell" role="rowgroup">
            <div class="rbc-row-bg">
              <div class="rbc-day-bg selected-date rbc-today"></div>
              <div class="rbc-day-bg"></div>
              <div class="rbc-day-bg"></div>
              <div class="rbc-day-bg"></div>
              <div class="rbc-day-bg"></div>
              <div class="rbc-day-bg"></div>
              <div class="rbc-day-bg"></div>
            </div>
            <div class="rbc-row-content" role="row">
              <div class="rbc-row">
                <div
                  class="rbc-row-segment"
                  style="flex-basis: 14.2857%; max-width: 14.2857%"
                ></div>
                <div
                  class="rbc-row-segment"
                  style="flex-basis: 71.4286%; max-width: 71.4286%"
                >
                  <div
                    class="rbc-event rbc-event-allday"
                    style="
                      background: linear-gradient(
                        135deg,
                        rgb(37, 99, 235),
                        rgb(59, 130, 246)
                      );
                      border-left: 3px solid rgba(255, 255, 255, 0.3);
                      border-radius: 6px;
                      color: white;
                      font-size: 12px;
                      font-weight: 500;
                      padding: 4px 8px;
                      margin: 2px 0px;
                      text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
                      box-shadow: rgba(37, 99, 235, 0.2) 0px 1px 3px;
                      transition: 0.2s;
                    "
                  >
                    <div
                      class="rbc-event-content"
                      title="aschente Abhishek - 310S Mechanic"
                    >
                      aschente Abhishek - 310S Mechanic
                    </div>
                  </div>
                </div>
              </div>
              <div class="rbc-row"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="rbc-time-content">
        <div class="rbc-time-gutter rbc-time-column">
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">12:00 AM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">2:00 AM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">4:00 AM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">6:00 AM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">8:00 AM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">10:00 AM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">12:00 PM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">2:00 PM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">4:00 PM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">6:00 PM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">8:00 PM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">10:00 PM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
        </div>
        <div
          class="selected-date rbc-day-slot rbc-time-column rbc-now rbc-today"
        >
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-events-container"></div>
          <div class="rbc-current-time-indicator" style="top: 57.0139%"></div>
        </div>
        <div class="rbc-day-slot rbc-time-column">
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-events-container"></div>
        </div>
        <div class="rbc-day-slot rbc-time-column">
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-events-container"></div>
        </div>
        <div class="rbc-day-slot rbc-time-column">
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-events-container"></div>
        </div>
        <div class="rbc-day-slot rbc-time-column">
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-events-container"></div>
        </div>
        <div class="rbc-day-slot rbc-time-column">
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-events-container"></div>
        </div>
        <div class="rbc-day-slot rbc-time-column">
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-events-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>

// this is the day view of the calender
<div class="calendar-container">
  <div class="rbc-calendar" style="height: 100%; min-height: 600px">
    <div class="rbc-toolbar">
      <span class="rbc-btn-group"
        ><button type="button">Today</button
        ><button type="button">Previous</button
        ><button type="button">Next</button></span
      ><span class="rbc-toolbar-label">Sunday Aug 24</span
      ><span class="rbc-btn-group"
        ><button type="button" class="">Month</button
        ><button type="button" class="">Week</button
        ><button type="button" class="rbc-active">Day</button
        ><button type="button" class="">Agenda</button></span
      >
    </div>
    <div class="rbc-time-view">
      <div class="rbc-time-header rbc-overflowing" style="margin-right: 14px">
        <div
          class="rbc-label rbc-time-header-gutter"
          style="width: 80.9px; min-width: 80.9px; max-width: 80.9px"
        ></div>
        <div class="rbc-time-header-content">
          <div
            class="rbc-row rbc-time-header-cell rbc-time-header-cell-single-day"
          >
            <div class="rbc-header selected-date rbc-today">
              <button type="button" class="rbc-button-link">
                <span role="columnheader" aria-sort="none">24 Sun</span>
              </button>
            </div>
          </div>
          <div class="rbc-allday-cell" role="rowgroup">
            <div class="rbc-row-bg">
              <div class="rbc-day-bg selected-date rbc-today"></div>
            </div>
            <div class="rbc-row-content" role="row">
              <div class="rbc-row"></div>
              <div class="rbc-row"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="rbc-time-content">
        <div class="rbc-time-gutter rbc-time-column">
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">12:00 AM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">2:00 AM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">4:00 AM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">6:00 AM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">8:00 AM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">10:00 AM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">12:00 PM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">2:00 PM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">4:00 PM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">6:00 PM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">8:00 PM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot">
              <span class="rbc-label">10:00 PM</span>
            </div>
            <div class="rbc-time-slot"></div>
          </div>
        </div>
        <div
          class="selected-date rbc-day-slot rbc-time-column rbc-now rbc-today"
        >
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-timeslot-group">
            <div class="rbc-time-slot"></div>
            <div class="rbc-time-slot"></div>
          </div>
          <div class="rbc-events-container"></div>
          <div class="rbc-current-time-indicator" style="top: 56.9444%"></div>
        </div>
      </div>
    </div>
  </div>
</div>

// this is the agenda view of the calendar
<div class="calendar-container">
  <div class="rbc-calendar" style="height: 100%; min-height: 600px">
    <div class="rbc-toolbar">
      <span class="rbc-btn-group"
        ><button type="button">Today</button
        ><button type="button">Previous</button
        ><button type="button">Next</button></span
      ><span class="rbc-toolbar-label">08/24/2025 – 09/23/2025</span
      ><span class="rbc-btn-group"
        ><button type="button" class="">Month</button
        ><button type="button" class="">Week</button
        ><button type="button" class="">Day</button
        ><button type="button" class="rbc-active">Agenda</button></span
      >
    </div>
    <div class="rbc-agenda-view">
      <table class="rbc-agenda-table">
        <thead>
          <tr>
            <th class="rbc-header" style="width: 91.85px">Date</th>
            <th class="rbc-header" style="width: 88.8125px">Time</th>
            <th class="rbc-header">Event</th>
          </tr>
        </thead>
      </table>
      <div class="rbc-agenda-content">
        <table class="rbc-agenda-table">
          <tbody>
            <tr
              style="
                background: linear-gradient(
                  135deg,
                  rgb(37, 99, 235),
                  rgb(59, 130, 246)
                );
                border-left: 3px solid rgba(255, 255, 255, 0.3);
                border-radius: 6px;
                color: white;
                font-size: 12px;
                font-weight: 500;
                padding: 4px 8px;
                margin: 2px 0px;
                text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
                box-shadow: rgba(37, 99, 235, 0.2) 0px 1px 3px;
                transition: 0.2s;
              "
            >
              <td rowspan="1" class="rbc-agenda-date-cell">Mon Aug 25</td>
              <td class="rbc-agenda-time-cell">
                <span class="rbc-continues-after">All Day</span>
              </td>
              <td class="rbc-agenda-event-cell">
                aschente Abhishek - 310S Mechanic
              </td>
            </tr>
            <tr
              style="
                background: linear-gradient(
                  135deg,
                  rgb(37, 99, 235),
                  rgb(59, 130, 246)
                );
                border-left: 3px solid rgba(255, 255, 255, 0.3);
                border-radius: 6px;
                color: white;
                font-size: 12px;
                font-weight: 500;
                padding: 4px 8px;
                margin: 2px 0px;
                text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
                box-shadow: rgba(37, 99, 235, 0.2) 0px 1px 3px;
                transition: 0.2s;
              "
            >
              <td rowspan="1" class="rbc-agenda-date-cell">Tue Aug 26</td>
              <td class="rbc-agenda-time-cell">
                <span class="rbc-continues-prior rbc-continues-after"
                  >All Day</span
                >
              </td>
              <td class="rbc-agenda-event-cell">
                aschente Abhishek - 310S Mechanic
              </td>
            </tr>
            <tr
              style="
                background: linear-gradient(
                  135deg,
                  rgb(37, 99, 235),
                  rgb(59, 130, 246)
                );
                border-left: 3px solid rgba(255, 255, 255, 0.3);
                border-radius: 6px;
                color: white;
                font-size: 12px;
                font-weight: 500;
                padding: 4px 8px;
                margin: 2px 0px;
                text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
                box-shadow: rgba(37, 99, 235, 0.2) 0px 1px 3px;
                transition: 0.2s;
              "
            >
              <td rowspan="1" class="rbc-agenda-date-cell">Wed Aug 27</td>
              <td class="rbc-agenda-time-cell">
                <span class="rbc-continues-prior rbc-continues-after"
                  >All Day</span
                >
              </td>
              <td class="rbc-agenda-event-cell">
                aschente Abhishek - 310S Mechanic
              </td>
            </tr>
            <tr
              style="
                background: linear-gradient(
                  135deg,
                  rgb(37, 99, 235),
                  rgb(59, 130, 246)
                );
                border-left: 3px solid rgba(255, 255, 255, 0.3);
                border-radius: 6px;
                color: white;
                font-size: 12px;
                font-weight: 500;
                padding: 4px 8px;
                margin: 2px 0px;
                text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
                box-shadow: rgba(37, 99, 235, 0.2) 0px 1px 3px;
                transition: 0.2s;
              "
            >
              <td rowspan="1" class="rbc-agenda-date-cell">Thu Aug 28</td>
              <td class="rbc-agenda-time-cell">
                <span class="rbc-continues-prior rbc-continues-after"
                  >All Day</span
                >
              </td>
              <td class="rbc-agenda-event-cell">
                aschente Abhishek - 310S Mechanic
              </td>
            </tr>
            <tr
              style="
                background: linear-gradient(
                  135deg,
                  rgb(37, 99, 235),
                  rgb(59, 130, 246)
                );
                border-left: 3px solid rgba(255, 255, 255, 0.3);
                border-radius: 6px;
                color: white;
                font-size: 12px;
                font-weight: 500;
                padding: 4px 8px;
                margin: 2px 0px;
                text-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
                box-shadow: rgba(37, 99, 235, 0.2) 0px 1px 3px;
                transition: 0.2s;
              "
            >
              <td rowspan="1" class="rbc-agenda-date-cell">Fri Aug 29</td>
              <td class="rbc-agenda-time-cell">
                <span class="rbc-continues-prior">All Day</span>
              </td>
              <td class="rbc-agenda-event-cell">
                aschente Abhishek - 310S Mechanic
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
